@media only screen and (max-width: 640px) {

    .startPage {
        background: url("images/cover.jpg");
        /* Full height */
        height: 100%; 
        width: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        /* background-repeat: no-repeat; */
        background-size: cover; 
        position: absolute;
        left: 0px; 
        bottom: 0px;  
        top: 0px; 
        right: 0px; 
        bottom: 0px; 
        z-index: -1;
        opacity: 0.3; 
    }
    .instructions {
        margin-top: 120px;
        /* margin: 120px auto; */
        width: 58%;
        color: black;
    }
    
    .tagline {
        margin-top: -100px;
        width: 50%;
        color: black;

    }
    
    header {
        margin-top: 50px;
        font-size: 250%;
        font-weight: bold;
    }

    .beginQuiz {
        display: block;
        border: 1px solid black;
        border-radius: 4px;
        margin: 15px auto;
        margin-top: -100px;
        padding: 15px;
        background-color: #eeeeee;
    }
    
  }
  
  @media only screen and (min-width: 640px) {
  
    .startPage {
        background: url("images/DesktopCover.jpg");
        /* Full height */
        height: 100%; 
        width: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        /* background-repeat: no-repeat; */
        background-size: cover; 
        position: absolute;
        left: 0px; 
        bottom: 0px;  
        top: 0px; 
        right: 0px; 
        bottom: 0px; 
        z-index: -1;
        opacity: 0.3; 
    }
    .instructions {
        margin: 120px auto;
        width: 25%;
    }
    
    .tagline {
        margin-top: -100px;
        width: 25%;
    }
    
    header {
        margin-top: 50px;
        font-size: 250%;
        font-weight: bold;
    }
    
    }
  