@media only screen and (max-width: 640px) {
    #quiz {
        max-width: 100%;
    }
    
    
    .coverPhoto {
        background: url("images/cover.jpg");
        /* Full height */
        height: 100%; 
        width: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        /* background-repeat: no-repeat; */
        background-size: cover; 
        position: absolute;
        left: 0px; 
        bottom: 0px;  
        top: 0px; 
        right: 0px; 
        bottom: 0px; 
        z-index: -1;
        opacity: 0.3; 
    }

    .startPage {
        display: flex;
        flex-direction: column;
        max-width: 500;
        max-width: 2000;
        text-align: center;
        width: 100%;
        margin: 70px auto;
    }
        
    .instructions {
        margin: 200px auto;
        width: 100%;
        color: #6200FF;
        font-size: 25px;    } 
        
    header {
        margin-top: 125px;
        margin-bottom: -250px;
        font-size: 150%;
        font-weight: bold;
    } 
    .beginQuiz {
        display: block;
        border: 1px solid white;
        border-radius: 4px;
        margin: -185px auto;
        padding: 15px;
        background-color: #48A9A6;
        font-size: 20px;
        color: ghostwhite;
    }   
    .results {
        width: 89%;
        margin: 145px auto;
        color: #6200FF;
        font-size: 20px;
        font-weight: bold;
    }
}
  
  @media only screen and (min-width: 640px) {
  
    .coverPhoto {
        background: url("images/coverRoad.jpg");
        /* Full height */
        height: 100%; 
        width: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        /* background-repeat: no-repeat; */
        background-size: cover; 
        position: absolute;
        left: 0px; 
        bottom: 0px;  
        top: 0px; 
        right: 0px; 
        bottom: 0px; 
        z-index: -1;
        opacity: 0.3; 
    }

    .startPage {
        display: flex;
        flex-direction: column;
        max-width: 500;
        max-width: 2000;
        text-align: center;
        width: 100%;
        margin: -190px auto;
    
    }
        
    header {
        display: flex;
        margin-top: 50px;
        font-size: 250%;
        font-weight: bold;
        padding: 30px auto;
        margin: 100px auto;
    }
}