* {
    /* background-color: #03A678;
    color: #fff;
    font-weight: bold; */
    font-family: Montserrat,sans-serif;
}

ul {
    list-style-type: none;
}

.instructions {
    margin: 120px auto;
    width: 25%;
}

.tagline {
    margin: 120px auto;
    width: 25%;
}

header {
    margin-top: 50px;
    font-size: 250%;
    font-weight: bold;
}

.currentImage {
    max-width: 500px;
    margin: 30px auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li > label {
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    margin: 30px auto;
    padding: 15px;
    width: 65%;
    background-color: #eeeeee;
}

.submit {
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    margin: 30px auto;
    padding: 15px;
    width: 15%;
    background-color: #eeeeee;
}

.beginQuiz {
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    margin: 15px auto;
    padding: 15px;
    background-color: #eeeeee;
}

.beginQuiz:hover {
    background-color: rgba(245, 131, 8, 0.94)
}

.submit:hover {
    background-color: rgb(155, 8, 155)
}

li > label:hover {
    background-color: #06BC9B;
    cursor: pointer;
}

.progressAndStats {
    display: flex;
    flex-direction: row;
    align-items: center;
}
 .score {
    margin-left: auto;
} 


#supporting_info {
    padding: 10px 20px;
    max-width: 800px;
    margin: 0 auto;
}

#question {
    text-align: center;
    font-weight: bold;
    padding: 30px;
}

.feedback {
    display: flex;
    border-radius: 4px;
    margin-top: 100px;
    padding: 30px;
    align-items: center;
}

.feedback_correct {
    background-color:rgba(0, 255, 0, 0.3);
    border: 4px solid green;
}

.feedback_incorrect {
    background-color: rgba(201, 83, 83, 0.3);
    border: 4px solid red;
}
