* {
    font-family: Montserrat,sans-serif;
}

ul {
    list-style-type: none;
}

.instructions {
    margin: 120px auto;
    width: 25%;
    color: #6200FF;
    font-size: 30px;
}

.tagline {
    margin: 120px auto;
    width: 25%;
    color: mediumvioletred;
    font-weight: bold;
    font-size: 50px;
}

header {
    color: #6200FF;
    margin-top: 50px;
    font-size: 250%;
    font-weight: bold;
}

.currentImage {
    max-width: 500px;
    margin: 30px auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li > label {
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    margin: 30px auto;
    padding: 15px;
    width: 65%;
    background-color: #eeeeee;
}

.submit {
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    margin: 30px auto;
    padding: 15px;
    width: 15%;
    background-color: #eeeeee;
}

.beginQuiz {
    display: block;
    border: 1px solid white;
    border-radius: 4px;
    margin: -100px auto;
    padding: 15px;
    background-color: #48A9A6;
    font-size: 30px;
    color: ghostwhite;
}

.beginQuiz:hover {
    background-color: #53DD6C
}

.submit:hover {
    background-color: #53DD6C
}

li > label:hover {
    background-color: #06BC9B;
    cursor: pointer;
}

.progressAndStats {
    display: flex;
    flex-direction: row;
    align-items: center;
}
 .score {
    margin-left: auto;
} 


#supporting_info {
    padding: 10px 20px;
    max-width: 800px;
    margin: 0 auto;
}

#question {
    text-align: center;
    font-weight: bold;
    padding: 30px;
}

.feedback {
    display: flex;
    border-radius: 4px;
    margin-top: 100px;
    padding: 30px;
    align-items: center;
}

.feedback_correct {
    background-color:rgba(0, 255, 0, 0.3);
    border: 4px solid green;
}

.feedback_incorrect {
    background-color: rgba(201, 83, 83, 0.3);
    border: 4px solid red;
}

.restart {
    display: block;
    border: 1px solid white;
    border-radius: 4px;
    margin: -100px auto;
    padding: 15px;
    background-color: #48A9A6;
    font-size: 15px;
    color: ghostwhite;
}

.restart:hover {
    background-color: #53DD6C
}

.finalPhoto {
        background: url("Images/flag.jpg");
        height: 100%; 
        width: 100%;
        background-position: center;
        background-size: cover; 
        position: absolute;
        left: 0px; 
        bottom: 0px;  
        top: 0px; 
        right: 0px; 
        bottom: 0px; 
        z-index: -1;
        opacity: 0.3; 
}

.results {
    margin: 150px auto;
    width: -7%;
    color: #6200FF;
    font-size: 20px;
    font-weight: bold;
}
